 # Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

#Compiled Static libraries
*.lai
*.la
*.a


# some backup file with ~
*~
*.udb
*.tar
*.bz
*.bz2
*.gz

#build dir
/xi-int/build/
/xi-int/build-aux/
/xi-int/llvm/
/xi-int/autom4te.cache/
/xi-int/tests/
/llvm/
/kint/




